<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit House</h1>
    <a href="/house"><button>Back To Home</button></a>

    <form action="/house" method="post">
        <fieldset>
            <legend>Create a House</legend>
          <label>
            NAME:<input
              type="text"
              name="name"
              placeholder="Enter Your Name"
            />
          </label>
          <label>
            City:<input
              type="text"
              name="city"
              placeholder="Enter City and State"
            />
          </label>
          <label>
            Address:<input
              type="text"
              name="address"
              placeholder="Enter Street Address"
            />
          </label>
          <label>
          Bedrooms:<input
              type="text"
              name="bedrooms"
              placeholder="Enter Number Of Bedrooms"
            />
          </label>
          <label>
            Bathrooms:<input
              type="text"
              name="bathroom"
              placeholder="Enter City and State"
            />
          </label>
          <label>
            Image:<input
              type="file"
              name="image"
              placeholder="Enter Your Name"
            />
          </label>     
        </fieldset>
                
        <input type="submit" value="Create New Fruit" />
      </form>   
</body>
</html>